ion-content {
    --padding-top: 5%;
    --padding-start: 5%;
    --padding-end: 5%;
    --padding-bottom: 5%;
    // --background: var(--ion-color-secondary);
    --background: linear-gradient(to bottom, #71b280, #479a80, #24817b, #106770, #134e5e);
}

.alinhamento{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-faq{
    background: #FFFFFF;
    box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
    border-radius: 10px;
    padding: 5%;
  }
  
//   .card-faq img{
//     max-height: 25vw;
//     max-width: auto;
//     margin-top: 12.0vw;
//   }

//   .card-faq .card-title-md{
//     padding: 5%;
//     padding-top: 9%;
//     font-family: 'Segoe UI';
//     font-style: normal;
//     font-weight: bold;
//     font-size: 5.0vw;
//     line-height: 5.4vw;
//     color: #151522;
//   }
  
//   .card-faq .card-content-md{
//     font-family: 'Itim';
//     font-style: normal;
//     font-weight: normal;
//     font-size: 4.0vw;
//     line-height: 4.6vw;    
//     text-align: left;
//     color: #666666;
//     margin-bottom: 5%;
//     padding-top: 0 !important;
//   }

//   .card-faq .botao{
//     border-radius: 1.0vw;
//     font-family: 'Segoe UI';
//     font-style: normal;
//     font-weight: normal;
//     font-size: 4.4vw;
//     line-height: 4.6vw;;
//     text-align: center;
//     height: 6.0vh;
//     width: 95%;
//     margin-top: 7%;
  
//     ion-icon{
//         font-size: 6.0vw;
//         margin-right: 4%;
//     }
//   }

//   .card-faq .alinhamento{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }